<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="template">
    <th mat-header-cell *matHeaderCellDef>Template</th>
    <td mat-cell *matCellDef="let element">{{ element.template }}</td>
  </ng-container>

  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
  </ng-container>
  
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
  </ng-container>

  <ng-container matColumnDef="pat_name">
    <th mat-header-cell *matHeaderCellDef>Pat Name</th>
    <td mat-cell *matCellDef="let element">{{ element.pat_name }}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <th mat-header-cell *matHeaderCellDef>Birthday</th>
    <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Gender</th>
    <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
